<h1><%= @location.name %></h1>
<h4><i class="fas fa-user-circle"></i> <%= @location.user.username %></h4>
<% if @location.photos.attached? %>
  <%= cl_image_tag @location.photos.first.key, height: 300, width: 400, crop: :fill %>
<% else %>
  <%= image_tag 'placeholder_generic.png', height: 300, width: 400, crop: :fill %>
<% end %>
<p><%= @location.description %></p>

<%= link_to locations_path do %>
  <button type="button" class="btn btn-outline-light">Back</button>
<% end %>